N8N_VERSION=1.121.3
GENERIC_TIMEZONE=Europe/Berlin
TZ=Europe/Berlin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=n8n
POSTGRES_NON_ROOT_PASSWORD=change-me-too

RUNNERS_AUTH_TOKEN=change-me-to-a-long-random-string
